.nav {
    background-color:rgb(231, 212, 212)
}

.header {
    display:flex;
    background-color:coral;
    justify-content: space-between;
}

a {
    border: darkgreen;
}

.grid {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    display:flex;
    justify-content:space-between;
    align-items: flex-end;
}